<div class="search_section_{{ section.id }}">
  <div class="search-header py-2">
    <div class="mt-4 p-5 bg-success text-white rounded text-align-center">
      <h2 class="heading text-center">Search Result Page</h2>
    </div>
      <div class="search-page-form d-flex justify-content-center mt-4">
        <form action="{{ routes.search_url }}" class="d-flex justify-content-center">
          <div class="input-group">
            <input
              type="text"
              name="q"
              class="form-control"
              placeholder="Search"
              value="{{ search.terms | escape }}"
            >
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </form>
      </div>
  </div>
  <div class="container">
    <div class="search-results">
      <div class="row">
        {% for item in search.results %}
          {% case item.object_type %}
            {% when 'product' %}
            {%- render 'product-card', product: item -%}
            {% when 'article' %}
            {% render 'article-card', article: item %}
            {% when 'page' %}
            {% render 'page-card', page:item %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Search template",
    "settings": []
  }
{% endschema %}