{% assign collection = section.settings.collection %}

<div class="recommended-items">
  <div class="row">
  {% if collection.size > 0 %}
  {% for product in collection.products %}
  {% render 'product-card', product: product %}
  {% endfor %}
    {% else %}
    <h4>No Items Available</h4>
  {% endif %}
</div>
</div>

{% schema %}
{
  "name": "suggested-products",
  "settings":[
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    }
  ]
}
{% endschema %}
